/*moving nav*/
.color-bg{
	background-color: #fff;
	opacity: 0.6;
	height:75px;
	z-index: 9;
	position: fixed;
	
}

/*landing page*/
.my-bg{
	/*background-color: black;*/
	height:100vh;
}

/*.logo-landing{
	background-image: url('file:///Users/yeinchiichong/Desktop/deirdre_branding-ts2016/image/logo_landing.jpg');
	height:100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;*/
}

.logo-landing img{
	padding-top: 190px;
}

.logo-landing img{
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/*moving parts*/

.moving{
	z-index: 1;
	position: static;
}

.intro-holder{
	height: 100%;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
}



/*promotion page*/
.promo{
	padding-right: 0;
	padding-left: 0;
}

.promo-bg{
	height: 100vh;
	width: 100%;
	position: relative;
}

.promo-holder{
	height:100%;
	width: 100%;
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	color: white;
	background-color: #6ae5ce;
	opacity: 0.6;
}

.promo-holder{
	padding-top: 100px;
	position: absolute;
}

.promo-content{
	position: relative;
	top: 90px;
	margin-left: auto;
	margin-right: auto;
}
.promo-header{
	color: #fff;
	font-size: 90px;
}
.promo-text{
	color: #fff;
	font-size: 16px;
	text-align: left;
	padding-right: 30px;
} 

/*locate page*/


.locate-bg{
	background-color: #fff;
	height: 100vh;
}


.locate-landing img{
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 margin: auto;
  
}


